<div class="container customdialog">
  <h3 class="dispaly-4">{{workFlowTemplateName}}
    <div (click)="closeForm()" class="icon-head-pup">
      <button class="close" type="button" [mat-dialog-close]><i class="fa fa-close"></i></button>
    </div>
  </h3>
  <hr>
  <form class="" #form="ngForm" autocomplete="off">
    <div class="form-row">
      <label class="lable-custom">initiatorName</label>
      <div class="content-info"> {{initiatorName}} </div>
    </div>
    <div class="form-row">
      <label class="lable-custom"> Time </label>
      <div class="content-info"> {{requestHandle.createDate | date:'yyyy-MM-dd HH:mm'}} </div>
    </div>
    <div *ngFor="let item of requestActionHandleValue" class="form-row">
      <label class="lable-custom"> {{item.key}}</label>
      <div class="content-info"> {{item.value}} </div>
    </div>
    <div class="form-row">
      <label class="lable-custom">File</label>
    </div>
    <div *ngFor="let item of requestActionHandleFile" class="form-row box-file">
      <!-- <a href="{{item.path}}" target="_blank">{{item.name}}</a> -->
      <a href="{{item.path}}" target="_blank"> {{item.name}} </a>
    </div>
  </form>


  <div class="form-row">
    <label class="lable-custom">Comment</label>
  </div>
  <div *ngFor="let item of cmtHandle">
    <div *ngFor="let item2 of item.requestValues">
      <div class="form-row"><strong> {{item.fullName}} </strong>({{item.userName}})
        <label>{{item.createDate  | date:'yyyy-MM-dd HH:mm'}} </label>
      </div>
      <div class="form-row"> {{item2.value}}
      </div>
    </div>
  </div>
  <div *ngFor="let item of listCmt">

    <div class="form-row label-before col-md-3"><strong> <a> You </a></strong>

    </div>
    <div class="comment-box col-md-3">
      {{item}}
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6"><input name="name" style="margin-top: 8px;" type="text" [(ngModel)]="cmt"
        class="form-control"></div>
    <div class="form-group col-md-6">
      <button class="btn addcomment" (click)="addNewCmt()">Add comment</button>
    </div>
  </div>
  <div class="form-group">
    <button *ngFor="let item of buttons" id="item.nextStepID" (click)="sendReqNextStep(item.nextStepID)"
      class="btn btn-dark"><i class="fa fa-database"></i> {{item.connectionTypeName}}</button>
    <!-- <button id="ádasd"   > adsdasd</button>  -->
    <!-- <button type="button" class="btn btn-outline-dark ml-1" [mat-dialog-close]><i class="fa fa-close"></i> Close</button> -->
  </div>



  <!-- <button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
    {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
  </button> -->

  <mat-vertical-stepper [linear]="isLinear" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Fill out your name</ng-template>
        <mat-form-field>
          <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Fill out your address</ng-template>
        <mat-form-field>
          <input matInput placeholder="Address" formControlName="secondCtrl" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      You are now done.
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-vertical-stepper>






  <ul class="list-comments">
    <li>
      <div class="card style-default-light">
        <div class="comment-avatar"><i class="glyphicon glyphicon-user opacity-50"></i></div>
        <div class="card-body">
          <h4 class="comment-title">Comment title <small>20/06/2013 at 4:02 pm</small></h4>
          <a class="btn btn-default-dark stick-top-right" href="#respond">Reply</a>
          <p>Etiam dui libero, tempor quis congue in, interdum eget tortor. Vivamus aliquam dictum lacus quis tincidunt.
            Phasellus rhoncus ante sollicitudin nisl consectetur ultricies. Sed rhoncus ullamcorper mauris, ac
            condimentum metus egestas ut. Nam et urna ante, vitae pretium lacus.</p>
        </div>
      </div>
    </li>
    <li>
      <div class="card style-default-dark">
        <div class="comment-avatar"><img class="img-circle" alt="" src="/assets/img/avatar1.jpg?1403934956"></div>
        <div class="card-body">
          <h4 class="comment-title">Comment title <small>20/06/2013 at 4:38 pm</small></h4>
          <a class="btn btn-default-dark stick-top-right" href="#respond">Reply</a>
          <p>Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer ac magna lacinia
            velit bibendum ornare. Morbi eget dui lectus, eget eleifend mi.</p>
        </div>
      </div>
    </li>
  </ul>


  <div class="card-body tab-content style-default-bright">
    <div class="tab-pane" id="personal5">
      <h3 class="text-light">Daniel <strong>Johnson</strong></h3>
      <p>Ad ius duis dissentiunt, an sit harum primis persecuti, adipisci tacimates mediocrem sit et. Id illud
        voluptaria omittantur qui, te affert nostro mel. Cu conceptam vituperata temporibus has.</p>

      <dl class="dl-horizontal">
        <dt>Description lists</dt>
        <dd>A description list is perfect for defining terms.</dd>
        <dt>Euismod</dt>
        <dd>Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.</dd>
        <dd>Donec id elit non mi porta gravida.</dd>
        <dt>Malesuada porta</dt>
        <dd>Etiam porta sem malesuada magna mollis euismod.</dd>
      </dl>
    </div>
    <div class="tab-pane active" id="about5">
      <h3 class="text-light">Daniel <strong>Johnson</strong></h3>
      <p>Per at postea mediocritatem, vim numquam aliquid eu, in nam sale gubergren. Fuisset delicatissimi duo, qui ut
        animal noluisse erroribus. Ea eum veniam audire. Dicant vituperata consequuntur.</p>

      <dl class="dl-horizontal">
        <dt>Description lists</dt>
        <dd>A description list is perfect for defining terms.</dd>
        <dt>Euismod</dt>
        <dd>Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.</dd>
        <dd>Donec id elit non mi porta gravida.</dd>
        <dt>Malesuada porta</dt>
        <dd>Etiam porta sem malesuada magna mollis euismod.</dd>
      </dl>

    </div>
    <div class="tab-pane" id="favorites5">
      <p>Duo semper accumsan ea, quidam convenire cum cu, oportere maiestatis incorrupte est eu. Soluta audiam timeam
        ius te, idque gubergren forensibus ad mel, persius urbanitas usu id. Civibus nostrum fabellas mea te, ne pri
        lucilius iudicabit. Ut cibo semper vituperatoribus vix, cum in error elitr. Vix molestiae intellegat omittantur
        an, nam cu modo ullum scriptorem.</p>
      <p>Quod option numquam vel in, et fuisset delicatissimi duo, qui ut animal noluisse erroribus. Ea eum veniam
        audire. Per at postea mediocritatem, vim numquam aliquid eu, in nam sale gubergren. Dicant vituperata
        consequuntur at sea, mazim commodo</p>
    </div>
  </div>
</div>