@model CapstoneMvc.Models.Message
@{
    ViewData["Title"] = "ApproveRequest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h1>@Html.DisplayFor(Model => Model.strMessage)</h1>
</div>
