<h4 class="dispaly-4">Create new Request </h4>

<hr>
<form #form="ngForm" autocomplete="off" (submit)="onSubmit()">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label> {{formKey}}</label>
        <input name="name" [(ngModel)]="formValue" class="form-control"> 
      </div>
      
    </div>
    <div class="form-row">
      <div class="dropzone" dropzone (hovered)="toggleHover($event)" (dropped)="onDrop($event)" [class.hovering]="isHovering">
        <div class="file">
          <label class="file-label">
            <input class="file-input" type="file" multiple="multiple" (change)="onDrop($event.target.files)">
          </label>
        </div>
      </div>

    </div>
    <div *ngFor="let file of files" class="form-row">
        <app-upload-task (getURL)="addURLtoList($event)" [file]="file"></app-upload-task>
      </div>
  <div class="form-group">
    <button *ngFor="let item of buttons" id="item.nextStepID" (click)="sendReqNextStep(item.nextStepID)" class="btn btn-dark"><i class="fa fa-database"></i> {{item.connectionTypeName}}</button>
    <button type="button" class="btn btn-outline-dark ml-1" [mat-dialog-close]><i class="fa fa-close"></i> Close</button>
  </div>
</form> 