.icon-head-pup {
    float: right;
}

.btn-dynamic{
    background: #adadad!important;
}
.btn-dynamic:hover{
    opacity: .8;
}

.txtdeepshadow {
    border-bottom: 1px solid #cccccc;
}

.Addbtn-dynamic{
    margin-left: 76%;
    margin-top: -10%;
}
