<div class="dropzone" dropzone (hovered)="toggleHover($event)" (dropped)="onDrop($event)" [class.hovering]="isHovering">


  <p>Drag and Drop a File</p>
  <div class="file">
    <label class="file-label">
      <input class="file-input" type="file" multiple="multiple" (change)="onDrop($event.target.files)">
    </label>
  </div>
</div>
<div>
  <form name="sendReqForm" (ngSubmit)="sendReq()" #f="ngForm" class="form">
    Request:
    <input name='request' ([ngModel])="value" type="text">
    <button type="submit">Send request</button>
  </form>
</div>
<h3>Uploads</h3>

<div *ngFor="let file of files">
  <app-upload-task (getURL)="addURLtoList($event)" [file]="file"></app-upload-task>
</div>