<h4 *ngIf="createAcc" class="dispaly-4">Add new Workflow
    <div (click)="closeForm()" class="icon-head-pup">
        <!-- <button type="button" class="btn btn-outline-dark ml-1" [mat-dialog-close]><i class="fa fa-close"></i> Close</button> -->
        <button type="button" [mat-dialog-close]><i class="fa fa-close"></i>
        </button>
    </div>
</h4>
<h4 *ngIf="!createAcc" class="dispaly-4">Edit Workflow
    <div (click)="closeForm()" class="icon-head-pup">
        <!-- <button type="button" class="btn btn-outline-dark ml-1" [mat-dialog-close]><i class="fa fa-close"></i> Close</button> -->
        <button type="button" [mat-dialog-close]><i class="fa fa-close"></i>
        </button>
    </div>
</h4>
<hr>
<form autocomplete="off" (submit)="onSubmit()">
    <div class="form-group">
        <mat-form-field class="example-full-width">
            <!-- <label>Name of Workflow</label> -->
            <input  placeholder="Name of Workflow" matInput  name="name" type="text" [(ngModel)]="formData.name">
        </mat-form-field>
    </div>
    <div class="form-group">
        <mat-form-field class="example-full-width">
            <input matInput  placeholder="Description"  name="description" type="text"
                [(ngModel)]="formData.description" class="form-control">
        </mat-form-field>
    </div>
    <div class="form-group">
        <label>Permission to apply this Workflow</label>
        <select matInput name="permissionUse" [(ngModel)]="formData.permissionToUseID" class="form-control">
            <option value="0">-Select-</option>
            <option *ngFor="let item of permissionList" value="{{item.id}}">{{item.name}}</option>
        </select>
    </div>
    <div style="color: black !important" class="form-group">
            <div class="form-row">Icon </div>
        <a style="height: 30px; width: 30px;" *ngFor="let item of listIcon" name="icon{{item}}" id="icon{{item}}"  (click)=(chooseIcon(item))><mat-icon>{{item}}</mat-icon></a>
        <!-- <select name="icon" [(ngModel)]="formData.icon" class="form-control">
            <option value="folder_special"><mat-icon>folder_special</mat-icon></option>
            <option value="alarm"><mat-icon>alarm</mat-icon></option>
            <option value="account_balance_wallet"><mat-icon>account_balance_wallet</mat-icon></option>
            <option value="account_balance"><mat-icon>account_balance</mat-icon></option>
            <option value="calendar_today"><mat-icon>calendar_today</mat-icon></option>
            <option value="commute"><mat-icon>commute</mat-icon></option>
            <option value="library_books"><mat-icon>library_books</mat-icon></option>
            <option value="videocam"><mat-icon>videocam</mat-icon></option>
            <option value="airplanemode_active"><mat-icon>airplanemode_active</mat-icon></option>
            
        </select> -->
    </div>
    <div class="form-row">
        <input type="checkbox" name="isViewDetail" class="checkbox checkbox-styled" [(ngModel)]="formData.isViewDetail">
        <label>Handler can view detail</label>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-dark"><i class="fa fa-database"></i> Submit</button>
        <button type="button" class="btn btn-outline-dark ml-1" [mat-dialog-close]><i class="fa fa-close"></i>
            Close
        </button>
    </div>
</form>