<h4 *ngIf="createAcc" class="dispaly-4">Add new Workflow
  <div (click)="closeForm()" class="icon-head-pup">
    <!-- <button type="button" class="btn btn-outline-dark ml-1" [mat-dialog-close]><i class="fa fa-close"></i> Close</button> -->
    <button type="button" [mat-dialog-close] ><i class="fa fa-close"></i>
      </button>
</div>
</h4>
<h4 *ngIf="!createAcc" class="dispaly-4">Edit Workflow
  <div (click)="closeForm()" class="icon-head-pup">
    <!-- <button type="button" class="btn btn-outline-dark ml-1" [mat-dialog-close]><i class="fa fa-close"></i> Close</button> -->
    <button type="button" [mat-dialog-close] ><i class="fa fa-close"></i>
      </button>
</div>
</h4>
<hr>
<form #form="ngForm" autocomplete="off" (submit)="onSubmit()">
  <div class="form-group">
    <label>Name of Workflow</label>
    <input name="name" type="text" [(ngModel)]="formData.name" class="form-control">
  </div>

  <div class="form-group">
    <label>Description</label>
    <input name="description" type="text" [(ngModel)]="formData.description" class="form-control">
  </div>
  <div class="form-row">
    <label>Permission to edit</label>
    <select name="permissionEdit" [(ngModel)]="formData.permissionToEditID" class="form-control">
      <option value="0">-Select-</option>
      <option *ngFor="let item of permissionList" value="{{item.id}}">{{item.name}}</option>
    </select>

  </div>
  <div class="form-row">
    <label>Permission to use this Workflow</label>
    <select name="permissionUse" [(ngModel)]="formData.permissionToUseID" class="form-control">
      <option value="0">-Select-</option>
      <option *ngFor="let item of permissionList" value="{{item.id}}">{{item.name}}</option>
    </select>

  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-dark"><i class="fa fa-database"></i> Submit</button>
    <button type="button" class="btn btn-outline-dark ml-1" [mat-dialog-close]><i class="fa fa-close"></i>
      Close</button>
  </div>
</form>