.hal-div{
    width: 50%;
    float: left;
}
.hal2-div{
    width: 35%;
    float: left;
}

.hal3-div{
    width: 15%;
    float: left;
    padding-top: 26px;
}
.search-div{
    margin: 16px;
}
.search-form-field{
    width: 100%;
    margin-left: 5px;
    padding: 5px 5px;
    background-color: #f5f5f5;
    color: #2e0ee6;
    border-radius: 5px;

}
.search-form-field div.mat-form-field-underline{
    display: none;
}
.search-form-field div.mat-form-field-infix{
    border-top: 0px;
}
.search-form-field div.mat-form-field-wrapper{
    padding-bottom: 0px;
}
.search-form-field div.mat-form-field-suffix button{
    height: 32px;
    width: 32px;
}
