<h4 *ngIf="createAcc" class="dispaly-4">Add new Account</h4>
<h4 *ngIf="!createAcc" class="dispaly-4">Edit Account</h4>
<hr>
<form #form="ngForm" autocomplete="off" (submit)="onSubmit()">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label>Email</label>
      <!-- <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text"></div>
          </div> -->
      <input *ngIf="createAcc" name="email" type="email" [(ngModel)]="formData.email" class="form-control">
      <input *ngIf="!createAcc" name="email" type="email" [(ngModel)]="formData.email" readonly class="form-control">
      <!-- </div> -->
    </div>
    <div class="form-group col-md-6">
      <label>Full name</label>
      <input name="fullName" *ngIf="createAcc" [(ngModel)]="formData.fullName" class="form-control"
        (keyup)="updateTotal()">
      <input name="fullName" *ngIf="!createAcc" readonly [(ngModel)]="formData.fullName" class="form-control"
        (keyup)="updateTotal()">
    </div>
  </div>
  <div class="form-row" *ngIf="createAcc">
    <div class="form-group col-md-6">
      <label>Password</label>
      <input name="password" [(ngModel)]="formData.password" class="form-control">
    </div>
    <!-- <div class="form-group col-md-6">
      <label>Re-Password</label>
      <input name="RePassword" [(ngModel)]="rePassword" class="form-control">
    </div> -->
    <div *ngIf="createAcc" class="form-group col-md-6">
      <label>Date of birth</label>
      <input name="dateOfBirth" type="date" [(ngModel)]="formData.dateOfBirth" class="form-control">
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <label>Role</label>
      <select name="role" #role="ngModel" [(ngModel)]="formData.roleID" class="form-control">
        <option value="0">-Select-</option>
        <option *ngFor="let item of roleList" value="{{item.id}}">{{item.name}}</option>
      </select>
      <!-- <div class="form-row">
        <ng-multiselect-dropdown name="b" [placeholder]="'--Select role--'" [data]="dropRoleList"
          [(ngModel)]="formData.roleIDs" [settings]="dropdownSettings" (onSelect)="onItemSelect($event)"
          (onSelectAll)="onSelectAll($event)">

        </ng-multiselect-dropdown>
      </div> -->
    </div>
    <div class="form-group col-md-6">
      <label>Group</label>
      <!-- <select name="group" [(ngModel)]="formData.groupIDs" class="form-control">
        <option value="0">-Select-</option>
        <option *ngFor="let item of groupList" value="{{item.id}}">{{item.name}}</option>
      </select> -->
      <div class="form-row">
        <ng-multiselect-dropdown name="a" [placeholder]="'--Select group--'" [data]="dropGroupList"
          [(ngModel)]="formData.groupIDs" [settings]="dropdownSettings" (onSelect)="onItemSelect($event)"
          (onSelectAll)="onSelectAll($event)">

        </ng-multiselect-dropdown>
      </div>

    </div>
  </div>
  <div class="form-group">
    <label>Manage of user</label>
    <select name="group" [(ngModel)]="formData.LineManagerID" class="form-control">
      <option value="0">No line manager</option>
      <option *ngFor="let item of manageList" value="{{item.id}}">{{item.fullName}}</option>
    </select>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-dark"><i class="fa fa-database"></i> Submit</button>
    <button type="button" class="btn btn-outline-dark ml-1" [mat-dialog-close]><i class="fa fa-close"></i>
      Close</button>
  </div>
</form>