
.example-box1 .deleteShape {
  right: -18px;
}
.example-box1 .add-input{
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -o-transform-origin: 35% -20%;
  -webkit-transform-origin: 35% -20%;
  -ms-transform-origin: 35% -20%;
  -moz-transform-origin: 35% -20%;
}
.example-box1 .add-input input{
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -o-transform-origin: 35% -20%;
  -webkit-transform-origin: 35% -20%;
  -ms-transform-origin: 35% -20%;
  -moz-transform-origin: 35% -20%;
}
.example-box1 .draw-arrow {
  right: 82px !important;
  transform: rotate(-45deg) !important;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -o-transform-origin: -29px -6px;
  -webkit-transform-origin: -29px -6px;
  -ms-transform-origin: -29px -6px;
  -moz-transform-origin: -29px -6px;
}

.example-box1 .deleteShape {
  transform: rotate(-45deg) !important;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform-origin: -24px 10px;
}

.example-box1 input {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.example-box input, .example-box1 input, .example-box3 input {
  max-width: 90%;
  margin-left: 5px;
}


.container-fluid {
  height: 100%;

  /deep/ .botton-left__table {
    overflow-y: auto;
    overflow-x: hidden;
    padding: 5px;
    width: 16.6666667%;

    height: 72%;
    position: fixed;
    top: 28%;
    bottom: 0 !important;
    left: 0;
    background-color: #cccccc !important;
    -webkit-box-shadow: 10px 7px 5px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 7px 5px -4px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 7px 5px -4px rgba(0, 0, 0, 0.75);
    color: black;

    button {
      height: 35px !important;
      width: 90%;
    }

    /deep/ .mat-form-field {
      .mat-select-value-text {
        color: black !important;
      }

    }


    .mat-form-field-infix {
      color: black !important;
    }

    .mat-form-field-underline {
      background-color: black !important;
    }

    .mat-select-value {
      color: black !important;
    }

    .mat-form-field-label {
      color: black !important;
    }


  }

  .import-json {
    z-index: 777;
    position: fixed;
    bottom: 5px;
    right: 5px;

    .circular-menu {
      // position: fixed;
      bottom: 1em;
      right: 1em;
    }

    .circular-menu .floating-btn {
      display: block;
      width: 3.5em;
      height: 3.5em;
      border-radius: 50%;
      background-color: hsl(4, 98%, 60%);
      box-shadow: 0 2px 5px 0 hsla(0, 0%, 0%, .26);
      color: hsl(0, 0%, 100%);
      text-align: center;
      line-height: 3.9;
      cursor: pointer;
      outline: 0;
    }

    .circular-menu.active .floating-btn {
      box-shadow: inset 0 0 3px hsla(0, 0%, 0%, .3);
    }

    .circular-menu .floating-btn:active {
      box-shadow: 0 4px 8px 0 hsla(0, 0%, 0%, .4);
    }

    .circular-menu .floating-btn i {
      font-size: 1.3em;
      transition: transform .2s;
    }

    .circular-menu.active .floating-btn i {
      transform: rotate(-45deg);
    }

    .circular-menu:after {
      display: block;
      content: ' ';
      width: 3.5em;
      height: 3.5em;
      border-radius: 50%;
      position: absolute;
      top: 0;
      right: 0;
      z-index: -2;
      background-color: hsl(4, 98%, 60%);
      transition: all .3s ease;
    }

    .circular-menu.active:after {
      // transform: scale3d(3.5, 3.5, 1);
      transform: scale3d(3.5, 3.5, 1);
      transition-timing-function: cubic-bezier(.68, 1.55, .265, 1);
    }

    .circular-menu .items-wrapper {
      padding: 0;
      margin: 0;
    }

    .circular-menu .menu-item {
      position: absolute;
      top: .2em;
      right: .2em;
      z-index: -1;
      display: block;
      text-decoration: none;
      color: hsl(0, 0%, 100%);
      font-size: 1em;
      width: 3em;
      height: 3em;
      border-radius: 50%;
      text-align: center;
      line-height: 3;
      background-color: hsla(0, 0%, 0%, .1);
      transition: transform .3s ease, background .2s ease;
    }

    .circular-menu .menu-item:hover {
      background-color: hsla(0, 0%, 0%, .3);
    }

    .circular-menu.active .menu-item {
      transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }

    .circular-menu.active .menu-item:nth-child(1) {
      // transform: translate3d(1em,-7em,0);
      transform: translate3d(0em, -4em, 0);

    }

    .circular-menu.active .menu-item:nth-child(2) {
      // transform: translate3d(-1em,-3.5em,0);
      transform: translate3d(-3em, -2.7em, 0);
    }

    .circular-menu.active .menu-item:nth-child(3) {
      // transform: translate3d(-4em,-0.2em,0);
      transform: translate3d(-4.2em, 0.2em, 0);
    }

    .circular-menu.active .menu-item:nth-child(4) {
      transform: translate3d(-4em, 0.5em, 0);
    }

    /**
     * The other theme for this menu
     */

    .circular-menu.circular-menu-left {
      right: auto;
      left: 1em;
    }

    .circular-menu.circular-menu-left .floating-btn {
      background-color: hsl(123, 89%, 61%);
    }

    .circular-menu.circular-menu-left:after {
      background-color: hsl(217, 89%, 61%);
    }

    .circular-menu.circular-menu-left.active .floating-btn i {
      transform: rotate(90deg);
    }

    .circular-menu.circular-menu-left.active .menu-item:nth-child(1) {
      transform: translate3d(-1em, -7em, 0);
    }

    .circular-menu.circular-menu-left.active .menu-item:nth-child(2) {
      transform: translate3d(3.5em, -6.3em, 0);
    }

    .circular-menu.circular-menu-left.active .menu-item:nth-child(3) {
      transform: translate3d(6.5em, -3.2em, 0);
    }

    .circular-menu.circular-menu-left.active .menu-item:nth-child(4) {
      transform: translate3d(7em, 1em, 0);
    }


    .sub-import-json {
      position: relative;
      bottom: 0;
      right: 0;
    }

    .sub-import-json input[type=file] {
      position: absolute;
      opacity: 0;
      outline: none;
      display: block;
      top: 0;
      right: 0;
      max-width: 100%;
      min-height: 100%;
      filter: alpha(opacity=0);
    }
  }

  .export-json {
    z-index: 9999999;
    position: fixed;
    bottom: 55px;
    right: 0;
  }

  .main {
    height: 100%;

    .menu-left {
      margin: 0;
      padding: 0;
      height: 100%;
      width: 100%;
      z-index: 999;
      top: 0;
      left: 0;
    }

    .content-body {
      height: 100%;
      padding: 0;

      // background-image: url('./../assets/image/floor-tile.png');
      #instructions {
        position: fixed !important;
        left: 50%;
      }

      .example-box {
        width: 100px;
        height: 100px;
        margin-top: 10px;
        margin-bottom: 20px;
        //border: solid 1px #ccc;
        color: rgba(0, 0, 0, 0.87);
        cursor: move;
        display: flex;
        margin-left: 10px;
        justify-content: center;
        align-items: center;
        text-align: center;
        background: #ffffff;
        border: 5px solid black;
        text-align: center;
        border-radius: 50%;
        position: relative;
        z-index: 1;
        transition: box-shadow 100ms cubic-bezier(0, 0, 0.2, 1);
        box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
        0 2px 2px 0 rgba(0, 0, 0, 0.14),
        0 1px 5px 0 rgba(0, 0, 0, 0.12);

        #input1 {
          width: 100%;
          margin: 0 auto;
        }
        .start-action{
          width: 40px;
          height: 40px;
          border: 1px solid #cccccc;
          border-radius: 50%;
          background-color: black;
          opacity: .4;
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
        }

        .start-action {
          width: 40px;
          height: 40px;
          border: 1px solid #cccccc;
          border-radius: 50%;
          background-color: black;
          opacity: .4;
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
        }

      }

      .example-box1 {
        width: 120px;
        height: 120px;
        margin-top: 12%;
        //margin-bottom: 20px;
        //border: solid 1px black;
        color: rgba(0, 0, 0, 0.87);
        border: 1px solid rgba(0, 0, 0, 0.87);
        cursor: move;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        background: white !important;
        border-radius: 4px;
        position: relative;
        margin-left: 10px;
        z-index: 1;
        left: 3%;
        transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
        box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),

        0 2px 2px 0 rgba(0, 0, 0, 0.14),
        0 1px 5px 0 rgba(0, 0, 0, 0.12);

        /* Rotate */
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        /* Rotate Origin */
        -webkit-transform-origin: 0 100%;
        -moz-transform-origin: 0 100%;
        -ms-transform-origin: 0 100%;
        -o-transform-origin: 0 100%;
        transform-origin: 46% 61%;
        //margin: 60px 0 10px 310px;

        #input2 {
          width: 100%;
        }

      }

      .example-box2 {
        width: 120px;
        height: 120px !important;
        margin-top: 10px;
        margin-bottom: 20px;
        color: rgba(0, 0, 0, 0.87);
        cursor: move;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        background: #fff;
        border-radius: 4px;
        position: relative;
        margin-left: 10px;
        z-index: 1;
        border-right: 20px solid transparent;
        border-left: 20px solid transparent;
        border-bottom: 120px solid #c44640;

        #input3 {
          margin-top: 50px;
          width: 100%;
          position: absolute;
        }

        /deep/ .draw-arrow {
          top: 51px !important;
          left: 20px;
          position: absolute;
        }

      }

      .example-box3 {

        width: 110px;
        height: 110px;

        margin-top: 10px;
        margin-bottom: 20px;
        //border: solid 1px #ccc;
        color: rgba(0, 0, 0, 0.87);
        cursor: move;
        display: flex;

        border: 10px solid rgba(0, 0, 0, 0.87);

        justify-content: center;
        align-items: center;
        text-align: center;
        background: white;
        border-radius: 50%;
        margin-left: 10px;
        position: relative;
        z-index: 1;
        transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
        box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
        0 2px 2px 0 rgba(0, 0, 0, 0.14),
        0 1px 5px 0 rgba(0, 0, 0, 0.12);

        #input4 {
          width: 100%;
        }
      }

      .example-box4 {
        width: 0;
        height: 0;
        margin-top: 10px;
        margin-bottom: 20px;
        cursor: move;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        background: #fff;
        position: relative;
        z-index: 1;
        margin-left: 10px;
        background: transparent;
        border-left: 60px solid transparent;
        border-right: 60px solid transparent;
        border-bottom: 120px solid #00C851;
        transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);

        /deep/ .draw-arrow {
          right: -3px;
          bottom: -60px;
          position: absolute;
        }

        #input5 {
          position: absolute;
          width: 100%;
          margin-top: 65px;
          width: 70px;
          // height: 20px;

        }
      }

      input {
        color: black;
        width: 100%;
      }
    }
  }

  .page-footer {
    bottom: 0;
    position: fixed;
    width: 100%;
    z-index: 888;
    background: #EEEEEE;
    // --higru:#1A2A3A;
    // background: var(--higru);  
  }
}

/deep/ .deleteShape {
  top: 0;
  position: absolute;
  right: 21px;
  font-size: 14px;
  cursor: pointer;
}


/deep/ .draw-arrow {

  right: 20px;
  bottom: 0;
  position: absolute;
  cursor: pointer;
}

/deep/ form {
  margin: 0 !important;
}

/deep/ .mat-select-arrow-wrapper {
  visibility: hidden !important;
}

/deep/ .group-start-end {
  width: 100%;
  position: absolute;
  color: white;
  font-size: 10px;

  .btn-start {
    width: 30px;
    height: 5px;
    background: blue;
    border-radius: 10px;
  }

  .btn-end {
    width: 30px;
    height: 5px;
    background: red;
    border-radius: 10px;
  }
}

.disabled {
  pointer-events: none;
  opacity: 0.2;
}

.btn-custom {
  margin-left: 50%;
  transform: translateX(-50%);
}

.edit-inut {
  max-width: 80%;
  margin-top: 4px;
  border: 1px solid transparent;
  border-bottom: 1px solid #6699FF;
  background-color: #009999;
  padding-left: 5px;
}

.customlabel {
  margin-top: 10px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #999999;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #999999;
}


.addcallBorder {
  border: 3px solid transparent;
}

.add-input{
  position: absolute;
  top: 90%;
  left: -47%;
}

