<div class="container-fluid">
  <div class="import-json">

    <div id="circularMenu" class="circular-menu">

      <a class="floating-btn" onclick="document.getElementById('circularMenu').classList.toggle('active');">
        <i class="fa fa-plus"></i>
      </a>

      <menu class="items-wrapper">
        <a class="menu-item"><span class="sub-import-json">
            <mdb-icon fas icon="file-upload"></mdb-icon><input type="file" (change)="importJson($event.target.files)">
          </span></a>
        <a (click)="exportJson()" class="menu-item">
          <mdb-icon fas icon="file-download"></mdb-icon>
        </a>
        <a [class.disabled]="menuList1.length <= 0" class="menu-item" title="Clear all" (click)="clearAll()">
          <mdb-icon fas icon="times"></mdb-icon>
        </a>
      </menu>

    </div>
  </div>
  <div class="botton-left__table">


    <div class="d-flex flex-column bd-highlight md-1">
      <div class="p-1 bd-highlight d-flex justify-content-center">
        <button mdbBtn mdbWavesEffect (click)="saveDraf()">Save draft</button></div>
      <div class="p-1 bd-highlight d-flex justify-content-center">
        <button mdbBtn mdbWavesEffect (click)="saveWorkFlow()">Save WorkFlow</button></div>
      <!-- <div class="p-1 bd-highlight d-flex justify-content-center">
            <button mdbBtn mdbWavesEffect (click)="checkConnection()">Check Connection</button></div>
          <div class="p-1 bd-highlight d-flex justify-content-center">
            <button mdbBtn mdbWavesEffect (click)="checkConnectionFe()">Check Connection</button></div> -->
    </div>

    <h3 style="margin: 5px 5px 5px 5px; text-align: center"> Properties </h3>
    <table style="width:90% border=1px">
      <tr *ngIf="checkIsAction">
        <!-- <td><label class="col-form-label-sm customlabel"> Name</label></td>
        <td><input class="edit-inut" name="properties.name" [(ngModel)]="properties.name" type="text">
        </td> -->
        <td>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Name" name="properties.name" [(ngModel)]="properties.name" type="text">
          </mat-form-field>
        </td>
      </tr>
      <!-- <tr *ngIf="checkIsAction">

        <td>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Description" name="properties.description" [(ngModel)]="properties.description"
              type="text">
          </mat-form-field>
        </td>
      </tr> -->

      <tr *ngIf="checkIsAction && properties.isStart">
        <!-- <td>Action Type</td>
        <td><select name="properties.actionTypeID" [(ngModel)]="properties.actionTypeID">
            <option *ngFor="let item of listActionType" value="{{item.id}}">{{item.name}}</option>
          </select></td> -->

        <mat-form-field class="example-full-width">
          <mat-label>Form</mat-label>
          <mat-select name="properties.actionTypeID"  [(ngModel)]="properties.actionTypeID">
            <mat-option value="0">---Select form---</mat-option>
            <mat-option *ngFor="let item of listActionType" value="{{item.id}}"> {{item.name}} </mat-option>
          </mat-select>


        </mat-form-field>
        <button mdbBtn mdbWavesEffect (click)="openDinamicForm()">Add new form</button>
        <!-- <div class="p-1 bd-highlight d-flex justify-content-center btn-group-toggle"> -->

      </tr>
      <tr *ngIf="checkIsAction && !properties.isStart && !properties.isEnd">
        <td colspan="2"> <input class="edit-inut" name="properties.isApprovedByLineManager"
            [(ngModel)]="properties.isApprovedByLineManager" type="checkbox">Manager Approve</td>
      </tr>
      <tr *ngIf="checkIsAction && !properties.isStart && !properties.isEnd">
        <td colspan="2"><input class="edit-inut" name="approveByPer"
            [(ngModel)]="properties.approveByPer" type="checkbox">Approve by Permission</td>
      </tr>
      <tr *ngIf="checkIsAction && properties.approveByPer && !properties.isStart && !properties.isEnd">
        <!-- <td>Permission</td>
        <td><select name="properties.permissionToUseID" [(ngModel)]="properties.permissionToUseID">
            <option *ngFor="let item of listDropdown" value="{{item.id}}">{{item.name}}</option>
          </select></td> -->

        <mat-form-field class="example-full-width">
          <mat-label>Permission</mat-label>
          <mat-select name="pertoUse" [(ngModel)]="properties.permissionToUseID">
            <mat-option value="0">---Select permission---</mat-option>
            <mat-option *ngFor="let item of listDropdown" value="{{item.id}}">{{item.name}}</mat-option>
          </mat-select>
        </mat-form-field>

      </tr>
      <tr *ngIf="checkIsAction && !properties.isStart && !properties.isEnd">
        <td colspan="2"><input class="edit-inut" name="properties.isApprovedByLineManager"
            [(ngModel)]="properties.appoveByMail" type="checkbox">Approve by Email</td>
      </tr>

      <tr *ngIf="checkIsAction && properties.appoveByMail">


        <mat-form-field class="example-full-width">
          <input matInput placeholder="Email" name="properties.toEmail" [(ngModel)]="properties.toEmail" type="text"> 
        </mat-form-field>

      </tr>
      <!-- <tr *ngIf="checkIsAction">
        <td>Start WF <input name="properties.start" [(ngModel)]="properties.start" type="checkbox"></td>
        <td>End WF <input name="properties.end" [(ngModel)]="properties.end" type="checkbox"></td>
      </tr> -->
      <tr *ngIf="checkIsArrow">
        <!-- <td>Name arrow</td> -->
        <td class="d-flex align-items-center">
          <div class="mr-3">Name arrow: </div>
          <input type="text" [(ngModel)]="propertiesArr.name">
          <!-- <mat-form-field style="width: 50%; ">
            <mat-select name="propertiesArr.name" [disabled]="true" [(ngModel)]="propertiesArr.name">
              <mat-option  *ngFor="let item of listConnectionType" value="{{item.id}}">{{item.name}}</mat-option>
            </mat-select>
          </mat-form-field> -->

        </td>
      </tr>
      <tr *ngIf="checkIsArrow">
        <!-- <td>Name arrow</td> -->
        <td class="d-flex align-items-center">

          <div class="mr-3">Timer (Time delay): </div>
          <input type="number" [(ngModel)]="propertiesArr.timeInterval">

        </td>
      </tr>
      <tr *ngIf="checkIsArrow">
          <!-- <td>Name arrow</td> -->
          <td class="d-flex align-items-center">

            <div class="mr-3">Type</div>

            <select [(ngModel)]="propertiesArr.type">
              <option value="1">Phút</option>
              <option value="2">Giờ </option>
              <option value="3">Ngày</option>
            </select>
          </td>
        </tr>
    </table>
  </div>
  <div class="row main">
    <div class="col-2 menu-left d-flex flex-column align-items-center" style="background-color:white">
      <!-- <div class="logo" > 
          <a href="#" class="simple-text">    
                <div class="logo-img">
                    <img src="/assets/img/angular2-logo-red.png" style="width: 33.22%; height:100%"/>
                </div>
                D. Workflow
                </a>
      </div> -->
      <app-menu-edit-account-shape style="width: 100%; height: 100%;" (draw)="drop($event)">
      </app-menu-edit-account-shape>


    </div>



    <div class="col-10 content-body">
      <div *ngFor="let item of menuList1"  style="position:absolute" [style.top.px]="item.positionTop"
        [style.left.px]="item.positionLeft" class="{{item.class}} addtextaction" id="{{item.id}}" (click)="showProperties(item)">
        <mdb-icon fas icon="times" class="deleteShape" (click)="dialogConfirmDelete(item)"></mdb-icon>
<!--          <div class="start-action"></div>-->
        <div class="md-form form-sm" id="{{item.idInput}}">
          <input mdbInput type="text" name="item.name" [(ngModel)]="item.name" class="form-control form-control-sm"
            placeholder="input text">
          <span *ngIf="item.class ==='example-box'">start</span>
            <span *ngIf="item.class ==='example-box3'">end</span>

          <!-- <form [formGroup]="secondFormGroup" id="{{item.idText}}">
            <mat-form-field>
              <mat-select placeholder="Choose value" formControlName="{{ item.formControlName }}">
                <mat-option *ngFor="let topping of item.dropdown" [value]="topping">{{topping}}</mat-option>
              </mat-select>
            </mat-form-field>
          </form> -->
          <!-- 2 cái nút start vs end -->
          <!-- <div class="group-start-end d-flex flex-row justify-content-center">
            <div class="btn-start mr-2" (click)="startShape(item)" [class.disabled]="!item.start"></div>
            <div class="btn-end" (click)="endShape(item)" [class.disabled]="!item.end"></div>
          </div> -->

        </div>
        <mdb-icon fas icon="plus" class="draw-arrow" (click)="dropImageBottom(item)"></mdb-icon>

        <mat-form-field class="add-input">
          <input matInput id="{{'imput'+item.index}}" placeholder="Favorite food" value="">
        </mat-form-field>

      </div>

      <svg (click)="clearConnect()" id="body-svg" xmlns="http://www.w3.org/2000/svg"
        style="position:absolute;left:0px;top:0px" width="100%" [attr.height]="heightSVG">

        <defs>
          <marker id="arrowhead" viewBox="0 0 10 10" refX="55" refY="5" markerWidth="6" markerHeight="6" orient="auto">
            <path d="M 0 0 L 10 5 L 0 10 z" />
          </marker>
        </defs>
 
        <g fill="none" stroke="black" stroke-width="3" marker-end="url(#arrowhead)">
          <ng-container *ngFor="let item of listArrow; index as i">
          <path  id="{{item}}" (click)="openDialog(item)" />
          <!-- https://www.w3.org/TR/SVG/text.html#TextElement -->
          <text style="font: 15px sans-serif;" fill="none" id="text{{item}}" (click)="openDialog(item)">
              <tspan border="none" fill="none  " >{{listClass[i].name}}</tspan>
              </text>
          </ng-container>
          
        </g>

      </svg>


    </div>
  </div>


  <app-footer class="page-footer"></app-footer>

</div>


<div mdbModal #basicModal="mdbModal" class="modal fade right" tabindex="-1" role="dialog"
  aria-labelledby="myBasicModalLabel" [config]='{backdrop: false, ignoreBackdropClick: true}' aria-hidden="true">
  <div class="modal-dialog modal-side modal-top-right" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100" id="myModalLabel">Dialog Confirm</h4>
      </div>
      <div class="modal-body">
        Do you realy want to delete seleted arrow?
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close"
          (click)="basicModal.hide()" mdbWavesEffect>Close</button>
        <button type="button" mdbBtn color="primary" class="relative waves-light" (click)="clickArrow()"
          mdbWavesEffect>OK!</button>
      </div>
    </div>
  </div>
</div>

<div mdbModal #confirmDelete="mdbModal" class="modal fade " tabindex="-1" role="dialog"
  aria-labelledby="myBasicModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <!-- <button type="button" class="close pull-right" aria-label="Close" (click)="confirmDelete.hide()">
          <span aria-hidden="true">×</span>
        </button> -->
        <h4 class="modal-title w-100" id="myModalLabel">Confirm Delete</h4>
      </div>
      <div class="modal-body">
        Are you sure delete this action?
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close"
          (click)="confirmDelete.hide()" mdbWavesEffect>Close</button>
        <button type="button" mdbBtn color="primary" class="relative waves-light" (click)="deleteShape()"
          mdbWavesEffect>OK!</button>
      </div>
    </div>
  </div>
</div>
