<div class="sidebar">
    <div class="logo">
        <a (click)="moveToHome()" class="simple-text">
            <div class="logo-img">
                <img src="/assets/img/angular2-logo-red.png"/>
            </div>
            D. Workflow
        </a>
    </div>
</div>
<div class="menu-main d-flex flex-column align-items-center">
    <div class="modifymenu">
        <h3 class="actionTitle">Design tool</h3>
        <ul (click)="drop(item)" *ngFor="let item of menuList; let i = index">
            <li  class="{{item.class}} animated"></li>
            <li *ngIf="item.class==='example-box1'"> <span> Decision Action</span></li>
            <li *ngIf="item.class==='example-box'"><span>Start Action</span></li>
            <li *ngIf="item.class==='example-box3'"><span>End Action</span></li>
        </ul>
        <!-- <div (click)="drop(item)" *ngFor="let item of menuList; let i = index"
             class="{{item.class}} animated "> -->
<!--            <div *ngIf="item.class==='example-box1'" class=""></div>-->

            <!-- <span style="position: absolute; z-index: 1;" *ngIf="item.class ==='example-box'">start</span>
            <span style="position: absolute; z-index: 1;" *ngIf="item.class ==='example-box3'">end</span> -->
            <!-- <strong class="horverTexS">Start Action</strong>
            <strong class="horverTexE">End Action</strong> -->
        <!-- </div> -->

       <div id="diamond"></div>

    </div>
</div>
