$MINT: linear-gradient(40deg, #ff6ec4, #7873f5) !important;

.menu-main {
  width: 16.666667%;
  height: 10%;
  position: fixed;
  box-sizing: border-box;
  --higru:#1A2A3A;
  background: var(--higru);  
  // background-color: #111;
  // background: #eaeae1;
  // border-right: 1px solid #cbcbb4;
  // -webkit-box-shadow: 10px 7px 5px -4px rgba(0, 0, 0, 0.75);
  // -moz-box-shadow: 10px 7px 5px -4px rgba(0, 0, 0, 0.75);
  // box-shadow: 10px 7px 5px -4px rgba(0, 0, 0, 0.75);
  display: block;
  .example-box {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: inline-block;
    margin-top: 10px;
    background-color: #00bbff;
  }
  .example-box:hover .horverTexS{
    display: block;
    opacity: 1;
  }
  .example-box1 {
    width: 40px;
    height: 40px;
    display: inline-block;
    background: #fff;
    margin-left: 5px;
    margin-top: 10px;
  }

  .example-box2 {
    width: 100px;
    height: 0;
    margin-top: 10px;
    margin-bottom: 20px;
    color: rgba(0, 0, 0, 0.87);
    cursor: move;
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: center;

    border-radius: 4px;
    //position: relative;
      z-index: 1;
      border-right: 20px solid transparent;
      border-left: 20px solid transparent ;
      border-bottom: 100px solid rgba(244,67,54,0.7);
  }

  .example-box3 {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: inline-block;
    margin-top: 10px;
    margin-left: 5px;

   background-color: orangered!important;


  }
  .example-box3:hover .horverTexE{
    display: block;
    opacity: 1;
  }
  .example-box4 {
    width: 0;
    height: 0;
    margin-top: 10px;
    margin-bottom: 20px;
    cursor: move;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #fff;
    position: relative;
    z-index: 1;
    background: transparent;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid #00C851;
    transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
  }

  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }

  .example-full-width {
    width: 100%;
  }

  .horverTexS{
    padding: 5px;
    background-color: #00bbff;
    position: absolute;
    left: -95%;
    top: 90%;
    display: none;
    border-radius: 10px;
    opacity: 0;
    text-align: center;
  }


  .horverTexE{
    padding: 5px;
    background-color: orangered;
    position: absolute;
    left: 85%;
    top: 80%;
    display: none;
    border-radius: 10px;
    opacity: 0;
    text-align: center;
  }
}

