<h4 class="dispaly-4">Handle Request </h4>

<hr>
<form #form="ngForm" autocomplete="off" (submit)="onSubmit()">
  <div class="form-row">
      <div class="form-group col-md-6">Creater: </div>
      <div class="form-group col-md-6">{{requestHandle.initiatorID}}</div>  
  </div>
  <div class="form-row">  
      <div class="form-group col-md-6">Name: </div>
      <div class="form-group col-md-6"> {{requestHandle.workFlowTemplateID}}</div>
  </div>
  <div class="form-row">
      <div class="form-group col-md-6">Time: </div>
      <div class="form-group col-md-6">{{requestHandle.createDate | date:'yyyy-MM-dd HH:mm'}}</div>
  </div>
  <div  *ngFor="let item of requestActionHandleValue" class="form-row">
      <div class="form-group col-md-6">{{item.key}}:  </div>
      <div class="form-group col-md-6"> {{item.value}}</div>

  
  </div>
  <div  *ngFor="let item of requestActionHandleFile" class="form-row">
      <a *ngFor="let item of requestActionHandleFile" href="{{item.path}}"> {{item.id}} </a>
  </div>

  <div class="form-group">
    <button *ngFor="let item of buttons" id="item.nextStepID" (click)="sendReqNextStep(item.nextStepID)"
      class="btn btn-dark"><i class="fa fa-database"></i> {{item.connectionTypeName}}</button>
    <button type="button" class="btn btn-outline-dark ml-1" [mat-dialog-close]><i class="fa fa-close"></i>
      Close</button>
  </div>
  <div *ngFor="let item of cmtHandle" class="form-row">

   <!-- <div *ngIf="item.requestValues.key == 'cmt'"> -->

  
      {{item.name}}  {{item.requestValues.value}}

      <label>: {{item.createDate  | date:'yyyy-MM-dd HH:mm'}} </label>

  </div>
</form>