<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <div class="hal-div">
                            <h4 class="card-title ">Account list</h4>
                            <p class="card-category">List of account in the system</p>
                        </div>
                        <div class="hal2-div">
                            <div class="search-div">

                                <mat-form-field class="search-form-field" floatLabel="never">
                                    <input matInput [(ngModel)]="searchKey" placeholder="Search" autocomplete="off"
                                        (keyup)="applyFilter()">
                                    <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey"
                                        (click)="onSearchClear()">
                                        <mat-icon>close</mat-icon>
                                    </button>
                                </mat-form-field>

                            </div>

                        </div>
                        <div class="hal3-div">
                            <button (click)="AddAccountItem(null)" mat-raised-button>
                                <mat-icon>add</mat-icon>
                            </button>
                        </div>
                    </div>

                    <div class="card-body">

                        <div class="table-responsive">


                            <mat-table [dataSource]="listData" matSort>

                                <ng-container matColumnDef="fullName">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Full name</mat-header-cell>
                                    <mat-cell *matCellDef="let element" matTooltip="{{element.email}}">{{element.fullName}} </mat-cell>
                                </ng-container>
                                <!-- <ng-container matColumnDef="email">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Email</mat-header-cell>
                                    <mat-cell *matCellDef="let element">{{element.email}}</mat-cell>
                                </ng-container> -->
                                 <ng-container matColumnDef="manage">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Manage</mat-header-cell>
                                    <mat-cell *matCellDef="let element">{{element.managerName}}</mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="dateOfBirth">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Date of birth</mat-header-cell>
                                    <mat-cell *matCellDef="let element">{{element.dateOfBirth | date:'dd.MM.yyyy'}}
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="role">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Role</mat-header-cell>
                                    <mat-cell *matCellDef="let element">{{element.role.name}}</mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="group">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Group</mat-header-cell>
                                    <mat-cell *matCellDef="let element">{{element.groups[0].name}}</mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="isDeleted">
                                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                                    <mat-cell *matCellDef="let element">
                                        <td *ngIf="element.isDeleted;  else elseBlock">
                                            <button (click)="banOrUnbanAcc(element.id)" mat-icon-button color="warn"
                                                matTooltip="Un-Ban ACcount">
                                                <mat-icon id="element.id">block</mat-icon>
                                            </button></td>
                                        <ng-template #elseBlock><button (click)="banOrUnbanAcc(element.id)"
                                                mat-icon-button color="primary" matTooltip="Ban ACcount">
                                                <mat-icon id="element.id">check_circle_outline</mat-icon>
                                            </button>
                                        </ng-template>
                                        <button (click)="AddAccountItem(element.id)" mat-icon-button
                                            matTooltip="Edit Account">
                                            <mat-icon id="element.id">border_color</mat-icon>
                                        </button>
                                    </mat-cell>
                                </ng-container>

                                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

                            </mat-table>
                            <mat-paginator [pageSizeOptions]="[5,10,25,100]" [pageSize]="5" showFirstLastButtons>
                            </mat-paginator>
                            <!-- <table class="table">
                              <thead class=" text-primary">
                                  <th>
                                      No.
                                  </th>
                                  <th>
                                      Full name
                                  </th>
                                  <th>
                                      Email
                                  </th>
                                  <th>
                                      Date of birth
                                  </th>
                                  <th>
                                      Ban/Un-ban
                                  </th>
                              </thead>
                              
                                <tfoot>
                                            
                                <tr>
                                
                                    <td> <form name="registerForm" (ngSubmit)="register()" #f="ngForm" class="form"><button type="submit"> Add </button></form></td>                                
                                    <td><input [(ngModel)]="model.fullName"  type="text" placeholder="Full name"></td>
                                    <td><input [(ngModel)]="model.email" type="text" placeholder="Email"></td>
                                    <td><input [(ngModel)]="model.dateOfBirth" type="date" ></td>                                  
                                    <td><input [(ngModel)]="model.password" type="text" placeholder="Password"><input type="text" placeholder="Re-Password"></td>                                  
                                
                                </tr>  
                                
                            </tfoot>
                                
                            
                              <tbody *ngFor="let user of users | slice:0:10; index as i; trackBy: trackByFn" >
                                <tr>
                                    <td>{{i}}</td>                                
                                    <td>{{user.fullName}}</td>
                                    <td>{{user.email}}</td>
                                    <td>{{user.dateOfBirth | date:'dd.mm.yyyy'}} </td>                                  
                                    <td *ngIf="user.isDeleted;  else elseBlock"><button  (click)="banOrUnbanAcc(user.id)" id={{user.id}}>UnBan </button></td>
                                   
                                    <ng-template #elseBlock><button (click)="banOrUnbanAcc(user.id)" id={{user.id}} >Ban</button></ng-template>
                                </tr>      
                                </tbody>                       
                          </table>                       -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
